/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */


/* cardo */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: "Cardo", serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}


.conteiner{
    width: 1920px;
    max-width: 1920px;
    margin: auto;
    padding: 0 135px;
}


.header{
    width: 100%;
    height: 140px;
    background-color: #1B3764;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header_logo--text{
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-left: 10px;
    margin-right: 35px;
}


.header__images{
    display: none;
}

.header_btn{
    display: flex;
    align-items: center;
    gap: 55px;
}

.header_btn--ul{
    display: flex;
    align-items: center;
    gap: 45px;
}

.header_ul--link{
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.header_btn--button{
    padding: 14px 33px;
    border: none;
    background-color: #FFCA42;
    font-size: 19px;
    font-weight: 700;
    font-family: "Cardo", serif;
}







/* abouts */
.abouts{
    width: 100%;
    height: 380px;
    background-color: #1B3764;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abouts__text{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: white;
    font-family: "Cardo", serif;
    margin-bottom: 40px;
}

.abouts__paragrf{
    text-align: center;
    margin: auto;
    width: 633px;
    font-size: 19px;
    font-weight: 400;
    color: #B4C7E7;
    margin-bottom: 30px;
}


/* chol */
.chol{
    width: 100%;
    height: 1300px;
    background-color: #F6F8FC;
    display: flex;
    align-items: center;
    justify-content: center;
}


.chol__text{
    margin-top: 80px;
}

.chol__text2{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #1B3764;
    font-family: "Cardo", serif;
}

.chol__paragrf{
    width: 800px;
    font-size: 19px;
    font-weight: 400;
    color: #969AA0;
}

.chol__btn{
    padding: 20px 60px;
    background-color: #FFCA42;
    margin-top: 35px;
    color: #1B3764;
    font-size: 18px;
    font-weight: 700;
    font-family: "Cardo", serif;
    border: none;
}

/* hero */
.hero{
    margin-top: 120px;
    width: 100%;
    margin-bottom: 120px;
}

.hero__text{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #1B3764;
    margin-bottom: 80px;
    font-family: "Cardo", serif;
}

.hero__box{
    display: flex;
    align-items: center;
    gap: 150px;
}

.hero__qoti--text{
    font-size: 32px;
    font-weight: 700;
    color: #1B3764;
    margin-bottom: 15px;
    font-family: "Cardo", serif;
}

.hero__qoti--paragrf{
    width: 262px;
    font-size: 16px;
    font-weight: 400;
    color: #B4C7E7;
}

.hero__salomat{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero__salomat--quti{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

.hero__salomat--text{
    font-size: 24px;
    font-weight: 700;
    color: #1B3764;
    font-family: "Cardo", serif;
}

.hero__salomat--paragrf{
    font-size: 18px;
    font-weight: 400;
    color: #B4C7E7;
}

.hero__qoti--btn{
    padding: 20px 52px;
    border: 2px solid #FFCA42;
    font-size: 19px;
    font-weight: 700;
    color: #1B3764;
    background: none;
}

.www{
    display: flex;
    align-items: center;
}


.hero__qoti--btn:hover{
    background-color: #FFCA42;
    color: white;
    transform: scale(1.05);
}

/* brend */

.brend{
    width: 100%;
    margin-bottom: 120px;
}

.brend__text{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    color: #1B3764;
    font-family: "Cardo", serif;
    margin-bottom: 60px;
}


.brend__img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brend__img--text{
    font-size: 24px;
    font-weight: 700;
    color: #1B3764;
    margin-top: 30px;
    margin-bottom: 10px;
}

.quti{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.brend__img--paragrf{
    margin: auto;
    width: 228px;
    font-size: 18px;
    font-weight: 400;
    color: #1B3764;
}



/* inpuot */
.inpuot{
    width: 100%;
    height: 505px;
    background-color: #FFCA42;
    display: flex;
    align-items: center;    
    justify-content: center;
    margin-bottom: 120px;
    text-align: c;
}


.inpuot__text{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    color: #1B3764;
    margin-bottom: 20px;
}

.sssa{
    display: flex;
    margin: auto;
}

.inpuot__paragrf{
    width: 657px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
    font-weight: 400;
    color: #1B3764;
    margin-bottom: 40px;
}

.inpuot__box{
    display: flex;
    align-items: center;
    gap: 15px;
}







.inpuot__box--qqq{
    display: flex;
    align-items: center;
    width: 529px;
    height: 65px;
    padding: 20px;
    background-color: white;
}


.inpuot__qqq--input{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    background: none;
}

.inpuot__box--btn{
    padding: 20px 105px;
    background-color: #1B3764;
    font-size: 19px;
    font-weight: 700;
    color: white;
}


/* footer */
.footer{
    width: 100%;
    height: 500px;
    background-color: #1B3764;
    display: flex;
    justify-content: center;
}

.footers{
    margin-top: 70px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 100px;
}

.qutivoy{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 40px;
}

.footers__text{
    font-size: 24px;
    font-weight: 700;
    color: white;
    font-family: "Cardo", serif;
    margin-bottom: 23px;
}

.qutivoys{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.qutivoy__text{
    font-size: 19px;
    font-weight: 500;
    color: #B4C7E7;
}

.qutivoys__text{
    font-size: 18px;
    font-weight: 700;
    color: white;
    font-family: "Cardo", serif;
}



.footer__paragrf{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    color: #969AA0;
    gap: 5px;
}

.footer__span{
    color: white;
    font-size: 24px;
    font-size: 500;
}




@media (max-width:800px) {
    .conteiner{
        width: 100%;
        max-width: 800px;
        padding: 0 40px;
        margin: auto;
    }

    .cholbobo{
        width: 650px;
    }

    .chol{
        height: 900px;
        margin-bottom: 100px;
    }

    .chol__paragrf{
        width: 650px;
    }

    .header__images{
        display: inline;
        width: 40px;
    }

    .abouts{
        margin-bottom: 100px;
    }

    .salom{
        display: none;
    }

    .header_btn--ul{
        display: none;
    }

    .section{
        padding: 50px 40px;
        display: block;
        height: auto;
        margin-bottom: 100px;
    }

    .blok{
        margin-top: 80px;
    }

    .hero__box{
        display: block;
        margin-bottom: 50px;
    }

    .hero2{
        display: block;
        height: 1350px;
        padding: 50px 40px;
        margin-bottom: 100px;
    }

    .brend__img{
        display: block;
    }

    .quti{
        margin-bottom: 80px;
    }

    .salomat{
        position: absolute;
        margin-top: 550px;
    }

    .salomat2{
        margin-top: 60px;
    }

    .hero3{
        display: block;
        height: 900px;
        margin-bottom: 100px;
    }

    .cards{
        height: 2200px;
    }

    .card{
        display: block;
    }

    .cardss{
        margin-bottom: 50px;
    }

    .inpuot__box--qqq{
        width: 340px;
    }

    .footer{
        margin-top: 100px;
        height: 1280px;
    }

    .footers{
        display: block;
    }

    .dxx{
        margin-bottom: 50px;
    }
}
q