/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */


/* cardo */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: "Cardo", serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}


.conteiner{
    width: 1920px;
    max-width: 1920px;
    margin: auto;
    padding: 0 150px;
}


.header{
    width: 100%;
    height: 140px;
    background-color: #1B3764;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header_logo--text{
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-left: 10px;
    margin-right: 35px;
}


.header_btn{
    display: flex;
    align-items: center;
    gap: 55px;
}

.header_btn--ul{
    display: flex;
    align-items: center;
    gap: 45px;
}

.header_ul--link{
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.header_btn--button{
    padding: 14px 33px;
    border: none;
    background-color: #FFCA42;
    font-size: 19px;
    font-weight: 700;
    font-family: "Cardo", serif;
}


/* section */
.section{
    width: 100%;
    height: 1000px;
    background-color: #1B3764;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.section__quti{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.section__quti--paragrf{
    font-size: 24px;
    font-weight: 400;
    color: white;
    font-family: "Cardo", serif;
}

.section__text--text{
    width: 614px;
    font-size: 64px;
    font-weight: 300;
    color: white;
    font-family: "Cardo", serif;
}

.section__text--paragrf{
    width: 575px;
    font-size: 19px;
    font-weight: 400;
    color: #B4C7E7;
    margin-bottom: 50px;
    margin-top: 30px;
}

.section__btn{
    display: flex;
    align-items: center;
    gap: 35px;
}

.section__btn--button{
    padding: 20px 52px;
    border: none;
    background-color: #FFCA42;
    color: #1B3764;
    font-size: 19px;
    font-weight: 700;
    font-family: "Cardo", serif;
}

.section__btn--button2{
    background: none;
    border: none;
    color: white;
    font-size: 19px;
    font-weight: 700;
    font-family: "Cardo", serif;
}


.section__pej{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
}

.section__pej--quti{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 7px;
}

.section__quti--peragrf{
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: "Cardo", serif;
}

.section__pej--paragrf{
    color: #B4C7E7;
    font-size: 18px;
    font-weight: 400;
}


/* hero */
.hero{
    width: 100%;
    margin-bottom: 120px;
}

.hero__text{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #1B3764;
    margin-bottom: 80px;
    font-family: "Cardo", serif;
}

.hero__box{
    display: flex;
    align-items: center;
    gap: 35px;
}

.hero__qoti--text{
    font-size: 32px;
    font-weight: 700;
    color: #1B3764;
    margin-bottom: 15px;
    font-family: "Cardo", serif;
}

.hero__qoti--paragrf{
    width: 262px;
    font-size: 16px;
    font-weight: 400;
    color: #B4C7E7;
}

.hero__salomat{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero__salomat--quti{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

.hero__salomat--text{
    font-size: 24px;
    font-weight: 700;
    color: #1B3764;
    font-family: "Cardo", serif;
}

.hero__salomat--paragrf{
    font-size: 18px;
    font-weight: 400;
    color: #B4C7E7;
}

.hero__qoti--btn{
    padding: 20px 52px;
    border: 2px solid #FFCA42;
    font-size: 19px;
    font-weight: 700;
    color: #1B3764;
    background: none;
}

