/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* cardo */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.conteiner{
    width: 1920px;
    max-width: 1920px;
    margin: auto;
    padding: 0 50px;
}


.header{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header_logo--text{
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-left: 10px;
    margin-right: 35px;
}