/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */


/* cardo */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: "Cardo", serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}


.conteiner{
    width: 1920px;
    max-width: 1920px;
    margin: auto;
    padding: 0 135px;
}


.header{
    width: 100%;
    height: 140px;
    background-color: #1B3764;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header_logo--text{
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-left: 10px;
    margin-right: 35px;
}


.header_btn{
    display: flex;
    align-items: center;
    gap: 55px;
}

.header_btn--ul{
    display: flex;
    align-items: center;
    gap: 45px;
}

.header_ul--link{
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.header_btn--button{
    padding: 14px 33px;
    border: none;
    background-color: #FFCA42;
    font-size: 19px;
    font-weight: 700;
    font-family: "Cardo", serif;
}


.www{
    display: flex;
    align-items: center;
}

/* section */
.section{
    width: 100%;
    height: 1000px;
    background-color: #1B3764;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.section__quti{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.section__quti--paragrf{
    font-size: 24px;
    font-weight: 400;
    color: white;
    font-family: "Cardo", serif;
}

.section__text--text{
    width: 614px;
    font-size: 64px;
    font-weight: 300;
    color: white;
    font-family: "Cardo", serif;
}

.section__text--paragrf{
    width: 575px;
    font-size: 19px;
    font-weight: 400;
    color: #B4C7E7;
    margin-bottom: 50px;
    margin-top: 30px;
}

.section__btn{
    display: flex;
    align-items: center;
    gap: 35px;
}

.section__btn--button{
    padding: 20px 52px;
    border: none;
    background-color: #FFCA42;
    color: #1B3764;
    font-size: 19px;
    font-weight: 700;
    font-family: "Cardo", serif;
}

.section__btn--button2{
    background: none;
    border: none;
    color: white;
    font-size: 19px;
    font-weight: 700;
    font-family: "Cardo", serif;
}


.section__pej{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
}

.section__pej--quti{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 7px;
}

.section__quti--peragrf{
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: "Cardo", serif;
}

.section__pej--paragrf{
    color: #B4C7E7;
    font-size: 18px;
    font-weight: 400;
}


/* hero */
.hero{
    width: 100%;
    margin-bottom: 120px;
}

.hero__text{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #1B3764;
    margin-bottom: 80px;
    font-family: "Cardo", serif;
}

.hero__box{
    display: flex;
    align-items: center;
    gap: 150px;
}

.hero__qoti--text{
    font-size: 32px;
    font-weight: 700;
    color: #1B3764;
    margin-bottom: 15px;
    font-family: "Cardo", serif;
}

.hero__qoti--paragrf{
    width: 262px;
    font-size: 16px;
    font-weight: 400;
    color: #B4C7E7;
}

.hero__salomat{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero__salomat--quti{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

.hero__salomat--text{
    font-size: 24px;
    font-weight: 700;
    color: #1B3764;
    font-family: "Cardo", serif;
}

.hero__salomat--paragrf{
    font-size: 18px;
    font-weight: 400;
    color: #B4C7E7;
}

.hero__qoti--btn{
    padding: 20px 52px;
    border: 2px solid #FFCA42;
    font-size: 19px;
    font-weight: 700;
    color: #1B3764;
    background: none;
}


.hero__qoti--btn:hover{
    background-color: #FFCA42;
    color: white;
    transform: scale(1.05);
}

/* hero2 */
.hero2{
    width: 100%;
    height: 990px;
    background-color: #F4F8FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}


.hero2__text--text{
    font-size: 44px;
    font-weight: 700;
    color: #1B3764;
    font-family: "Cardo", serif;
    margin-bottom: 10px;
}

.hero2__text--paragrf{
    width: 567px;
    font-size: 20px;
    font-weight: 400;
    color: #969AA0;
    margin-top: 20px;
    margin-bottom: 30px;
}

.hero2__box{
    display: flex;
    align-items: center;
    gap: 33px;
    margin-bottom: 30px;
}

.hero2__box--text{
    font-size: 55px;
    font-weight: 700;
    color: #1B3764;
    font-family: "Cardo", serif;
    margin-bottom: 5px;
}

.hero2__box--paragrf{
    font-size: 18px;
    font-weight: 400;
    color: #969AA0;
}



.hero2__quti{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 477px;
    height: 160px;
    padding: 15px;
    background-color: #1B3764;
}

.hero2__quti--textt{
    font-size: 22px;
    font-weight: 500;
    color: #FFCA42;
    margin-top: 7px;
}


.hero2__quti--text{
    font-size: 20px;
    font-weight: 400;
    color: #B4C7E7;
    margin-top: 7px;
}


/* brend */

.brend{
    width: 100%;
    margin-bottom: 120px;
}

.brend__text{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    color: #1B3764;
    font-family: "Cardo", serif;
    margin-bottom: 60px;
}


.brend__img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brend__img--text{
    font-size: 24px;
    font-weight: 700;
    color: #1B3764;
    margin-top: 30px;
    margin-bottom: 10px;
}

.quti{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.brend__img--paragrf{
    margin: auto;
    width: 228px;
    font-size: 18px;
    font-weight: 400;
    color: #1B3764;
}

/* hero3 */
.hero3{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    background-color: #1B3764;
    margin-bottom: 120px;
}

.hero3__text{
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    font-family: "Cardo", serif;
    margin-bottom: 25px;
}

.hero3__paragrf{
    width: 567px;
    font-size: 20px;
    font-weight: 400;
    color: #B4C7E7;
    margin-top: 25px;
    margin-bottom: 30px;
}

.hero3__btn{
    padding: 20px 52px;
    border: 2px solid #FFCA42;
    background: none;
    font-size: 19px;
    font-weight: 700;
    color: white;
}


/* inpuot */
.inpuot{
    width: 100%;
    height: 505px;
    background-color: #FFCA42;
    display: flex;
    align-items: center;    
    justify-content: center;
    margin-bottom: 120px;
    text-align: c;
}


.inpuot__text{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    color: #1B3764;
    margin-bottom: 20px;
}

.sssa{
    display: flex;
    margin: auto;
}

.inpuot__paragrf{
    width: 657px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
    font-weight: 400;
    color: #1B3764;
    margin-bottom: 40px;
}

.inpuot__box{
    display: flex;
    align-items: center;
    gap: 15px;
}







.inpuot__box--qqq{
    display: flex;
    align-items: center;
    width: 529px;
    height: 65px;
    padding: 20px;
    background-color: white;
}


.inpuot__qqq--input{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    background: none;
}

.inpuot__box--btn{
    padding: 20px 105px;
    background-color: #1B3764;
    font-size: 19px;
    font-weight: 700;
    color: white;
}


/* footer */
.footer{
    width: 100%;
    height: 500px;
    background-color: #1B3764;
    display: flex;
    justify-content: center;
}

.footers{
    margin-top: 70px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 100px;
}

.qutivoy{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 40px;
}

.footers__text{
    font-size: 24px;
    font-weight: 700;
    color: white;
    font-family: "Cardo", serif;
    margin-bottom: 23px;
}

.qutivoys{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.qutivoy__text{
    font-size: 19px;
    font-weight: 500;
    color: #B4C7E7;
}

.qutivoys__text{
    font-size: 18px;
    font-weight: 700;
    color: white;
    font-family: "Cardo", serif;
}



.footer__paragrf{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    color: #969AA0;
    gap: 5px;
}

.footer__span{
    color: white;
    font-size: 24px;
    font-size: 500;
}


/* hero4 */
.hero4{
    width: 100%;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero4__box{
    display: flex;
    align-items: center;
    gap: 200px;
}

.hero4__text{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #1B3764;
    margin-bottom: 75px;
    font-family: "Cardo", serif;
}

.hero4__card{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.hero4__cards{
    width: 290px;
    height: 299px;
    background-color: #F4F8FF;
    padding: 40px 30px;
}

.hero4__cards--paragrf{
    width: 224px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Cardo", serif;
}

/* cards */

.cards{
    width: 100%;
    height: 1016px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F8FF;
    margin-bottom: 120px;
}


.cards__text{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color:  #1B3764;
    margin-bottom: 20px;
}


.card{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 40px;
}


.cardss{
    width: 410px;
    height: 600px;
    background-color: white;
    box-shadow: 20px 30px 40px rgba(48, 48, 48, 0.158);
}


.cardss__text{
    width: 410px;
    padding: 30px;
}

.cardss__text--text{
    font-family: "Cardo", serif;
    width: 307px;
    font-size: 24px;
    font-weight: 700;
    color: #1B3764;
    margin-bottom: 15px;
}

.cardss__text--paragrf{
    width: 347px;
    font-size: 19px;
    font-weight: 400;
    color: #969AA0;
    margin-bottom: 28px;
}

.cardss__text--box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardss__box--text{
    font-size: 19px;
    font-weight: 700;
    color: #1B3764;
}

.cardss__box--paragrf{
    font-size: 17px;
    font-weight: 400;
    color: #1B3764;
}




@media (max-width:800px) {
    .conteiner{
        width: 100%;
        max-width: 800px;
        padding: 0 40px;
        margin: auto;
    }

    .salom{
        display: none;
    }

    .header_btn--ul{
        display: none;
    }

    .section{
        padding: 50px 40px;
        display: block;
        height: auto;
        margin-bottom: 100px;
    }

    .blok{
        margin-top: 80px;
    }

    .hero__box{
        display: block;
        margin-bottom: 50px;
    }

    .hero2{
        display: block;
        height: 1350px;
        padding: 50px 40px;
        margin-bottom: 100px;
    }

    .brend__img{
        display: block;
    }

    .quti{
        margin-bottom: 80px;
    }

    .salomat{
        position: absolute;
        margin-top: 550px;
    }

    .salomat2{
        margin-top: 60px;
    }

    .hero3{
        display: block;
        height: 900px;
        margin-bottom: 100px;
    }
    
    .hero4__box{
        display: block;
    }

    .mediyauchun{
        margin-top: 60px;
        margin-bottom: 100px;
    }

    .cards{
        height: 2200px;
    }

    .card{
        display: block;
    }

    .cardss{
        margin-bottom: 50px;
    }

    .inpuot__box--qqq{
        width: 340px;
    }

    .footer{
        margin-top: 100px;
        height: 1280px;
    }

    .footers{
        display: block;
    }

    .dxx{
        margin-bottom: 50px;
    }
}